body{
margin: 0;
min-height: 100vh;
background-image: url(https://web.whatsapp.com/img/bg-chat-tile-light_686b98c9fdffef3f63127759e2057750.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}